{% extends "StreetVCUserBundle::layout.html.twig" %}

{% block fos_user_content %}
        <form id="login" class="ui fluid large form {{ error? ' error':'' }}" action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <h2 class="ui dividing header">Log In</h2>
            <p>Don't have an account? register as a <a href="{{ path('register', {type: 'borrower'}) }}">borrower</a> or <a href="{{ path('register', {type: 'lender'}) }}">lender</a>.</p>
            {% if error %}
                <div class="ui error message"><div class="header">Authentication Error</div><p>{{ error|trans({}, 'FOSUserBundle') }}</p></div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="field">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="field">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </div>
            </div>

            <input class="ui blue submit button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            <a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
{#
              or
            <a href="{{ url('fos_user_registration_register') }}">Register</a>
#}
        </form>
{% endblock %}
