{% extends '::layout.html.twig' %}

{% block view %}
<div class="column">
    {{ include('StreetVCBorrowerBundle:Borrowers:borrowerSteps.html.twig', { step: '2'}) }}
    <div class="ui grid">
      <div class="row">
        <div class="column three wide"></div>
        <div class="column ten wide">
            <h2 class="ui dividing header">Create Your Business Profile</h2>
            <form class="ui horizontal form {{ form.vars.errors ?'error':'' }}" method="POST" action="{{ path('post_business') }}">
            {{ form_widget(form) }}
            <input type="submit" class="ui blue submit button" value="Create Business" />
            </form>
        </div>
        <div class="column three wide"></div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ include('StreetVCBorrowerBundle:Businesses:businessFormJs.html.twig') }}
{% endblock %}